.container_12
  .grid_12.alpha
    %span.contactnum-top=t 'header_support_html'

    .search.right
      %form
        %input{ :type => "text", :placeholder => "Search", :class => "search-input" }
        %input{ :type => "submit", :value => "Go", :class => "btn search" }
