%form{ :action => "/items/?" }
  %input{ :type => "text", :placeholder => "Search for an item", :class => "search-input", :name => "q" }
  %input{ :type => "submit", :value => "Go", :class => "btn search" }
